@import "tailwindcss";
/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #85abff; /* Green */
  --secondary-color: #ffffff; /* White */
  --background-color: #f0f0f0; /* Light gray */
  --text-color: #323232; /* Dark gray */
  --accent-color: #ffeb3b; /* Yellow */
  --highlight-color: #92b1ff; /* Brown */
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  color: var(--highlight-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Responsive container */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Responsive breakpoints */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.25rem;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--highlight-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #240960; /* Green */
    --secondary-color: #ffffff; /* Black */
    --background-color: #121212; /* Dark gray */
    --text-color: #e0e0e0; /* Light gray */
    --accent-color: #ffeb3b; /* Yellow */
    --highlight-color: #a2bbfc; /* Brown */
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  button:hover {
    background-color: var(--highlight-color);
  }
}


.rbc-calendar {
  @apply font-sans;
}

.rbc-toolbar button {
  @apply bg-[#5284ff] text-white hover:bg-blue-400 dark:bg-blue-400 dark:hover:bg-blue-500;
}

.rbc-toolbar button.rbc-active {
  @apply bg-[#240960];
}

.rbc-event {
  @apply bg-red-500 dark:bg-red-600;
  transition: all 0.3s ease;
}

.rbc-today {
  @apply bg-blue-300 dark:bg-blue-700/20;
}

.rbc-off-range-bg {
  @apply bg-gray-900 dark:bg-gray-600;
}

.rbc-header {
  @apply dark:text-gray-600;
}

.rbc-button-link {
  @apply dark:text-gray-300;
}

@media (max-width: 768px) {
  .rbc-toolbar {
    @apply flex-col gap-2;
  }
  
  .rbc-toolbar-label {
    @apply text-center;
  }
}


.rbc-event.draft-event {
  background-color: #240960 !important;
  opacity: 0.7;
}
